
<div>
  <h1>Load Schedule</h1>
  <form (ngSubmit)="loadNewSchedule($event)">
    <div>
      <label>
        Schedule Id:
      </label>
      <input type="number" name="schedId" id="schedId" />
      <button type="submit">Get</button>
    </div>

  </form>
  <p>
    <button type="button" (click)="clearSchedule()">Clear Current Schedule</button>
  </p>
  <br>
</div>

  <form [formGroup]="scheduleForm" (ngSubmit)="onFormSubmit()" >
    <h1>Create Schedule</h1>
    <label>
      Schedule Name:
      <input type="text" formControlName="scheduleName"  required>
    </label>
    <br>
    <label>
      Device Id:
      <input type="number" formControlName="deviceId" >
    </label>
    <br>
    <label>
     Delay:
      <input type="number" formControlName="delay" >
    </label>
    <br>
    <label>
      Intensity:
       <input type="number" formControlName="intensity" >
     </label>
     <br>
     <label>
      Sensor Port:
       <input type="number" formControlName="sensorPort" >
     </label>
     <br>
     <label>
      Light Port:
       <input type="number" formControlName="lightPort" >
     </label>
     <br>

    <div formGroupName="room">
      <h3>Room Configuration</h3>
      <label>
        Room Width:
        <input type="number" formControlName="roomWidth" >
      </label>
      <label>
        Room Height:
        <input type="number" formControlName="roomHeight" >
      </label>
    </div>

    <div formArrayName="periods" *ngFor="let period of scheduleForm.get('periods')['controls']; let i = index">
        <div [formGroupName]="i">
          {{i}}
          period name :
          <input formControlName="startTime" type="time" >
          <input formControlName="endTime"  type="time" >
          <input formControlName="duration"  type="number" >
          <button type="button" (click)="deletePeriod(i)">X</button>
        </div>
    </div>
    <p>
      <button type="button" (click)="addNewPeriod()">add</button>
    </p>
    <button type="submit">Submit</button>
  </form>



