
<h1>Create Schedule</h1>
<div>
  <form (ngSubmit)="onSubmit($event)">
    <div>
      <label>
        Schedule Name:
      </label>
      <input type="text" name="nameInput" id="nameInput" />
    </div>
    <div>
      <label>
        Start Time:
      </label>
      <input type="number" name="start" id="start" />
    </div>
    <div>
      <label>
        End Time:
      </label>
      <input type="number" name="end" id="end" />
    </div>
    <div>
      <button type="submit">Upload</button>
    </div>
  </form>
</div>

