
<div>
  <h1>Load Schedule</h1>
  <form (ngSubmit)="loadNewSchedule($event)">
    <div>
      <label>
        Schedule Id:
      </label>
      <input type="number" name="schedId" id="schedId" />
      <button type="submit">Get</button>
    </div>

  </form>
  <p>
    <button type="button" (click)="clearSchedule()">Clear Current Schedule</button>
  </p>
  <br>
</div>
<!--
<h1>Fake Create Schedule</h1>
<h2>Create Schedule</h2>
<div>
  <form (ngSubmit)="onSubmit($event)">
    <div>
      <label>
        nope:
      </label>
      <input type="text" name="nameInput" id="nameInput" />
    </div>

    <div>
      <label>
        not room info:
      </label>
      <input type="number" name="roomwidth" id="roomwidth" placeholder="room width"/>
      <input type="number" name="roomheight" id="roomheight" placeholder="room height" />
    </div>
    <div>
      <button type="submit">don't do it</button>
    </div>
  </form>
  <br>
  <div>
    <h2>Schedule Editor</h2>
    <ul class="ScheduleDisplay">
      <input type="text" name="scheduleName" id="scheduleName" value={{sched.name}}/>
      <label>Room Information</label>
      <input type="number" name="roomW" id="roomW" value={{sched.room.roomWidth}}/>
      <input type="number" name="roomH" id="roomH" value={{sched.room.roomHeight}}/>
      <li *ngFor='let period of sched.periods'>
          <label>Start</label>
          <input type="time" name=startTime{{period.id}} 
          id=startTime{{period.id}} value={{makeTime(period.startTime)}}/>
          <label>End</label>
          <input type="time" name=endTime{{period.id}} 
          id=endTime{{period.id}} value={{makeTime(period.endTime)}}/>
      </li>
    </ul>
    <button (click)="onClick()">Add number</button>
  </div>
  
  <button (click)="getSchedule()">Get Schedule</button>
  -->


<!-- Actual Form Stuff Below -->

  

  <form [formGroup]="scheduleForm" (ngSubmit)="onFormSubmit()" >
    <h1>Create Schedule</h1>
    <label>
      Schedule Name:
      <input type="text" formControlName="scheduleName"  required>
    </label>
    <label>
      Device Id:
      <input type="number" formControlName="deviceId" >
    </label>
    <label>
     Delay:
      <input type="number" formControlName="delay" >
    </label>
    <label>
      Intensity:
       <input type="number" formControlName="intensity" >
     </label>

     <label>
      Sensor Port:
       <input type="number" formControlName="sensorPort" >
     </label>
     <label>
      Light Port:
       <input type="number" formControlName="lightPort" >
     </label>

    <div formGroupName="room">
      <h3>Room Configuration</h3>
      <label>
        Room Width:
        <input type="number" formControlName="roomWidth" >
      </label>
      <label>
        Room Height:
        <input type="number" formControlName="roomHeight" >
      </label>
    </div>

    <div formArrayName="periods" *ngFor="let period of scheduleForm.get('periods')['controls']; let i = index">
        <!-- The repeated alias template -->
        <div [formGroupName]="i">
          {{i}}
          period name :
          <input formControlName="startTime" type="time" >
          <input formControlName="endTime"  type="time" >
          <input formControlName="duration"  type="number" >
          <button type="button" (click)="deletePeriod(i)">X</button>
        </div>
    </div>
    <p>
      <button type="button" (click)="addNewPeriod()">add</button>
    </p>
    <button type="submit">Submit</button>
  </form>



